<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <title>obdgpslogger explorer</title>
    <script type="text/javascript" src="dygraph-combined.js"></script>
<!-- To debug uncomment this line.
    <script type="text/javascript" src="http://www.dygraphs.com/dygraph-dev.js"></script>
-->
    <script type="text/javascript" src="interaction.js"></script>
    <script type="text/javascript">
      $javascriptFields
    </script>
  </head>
  <body>
    <h1>Let's Go Exploring!</h1>
    <table><tr><td>
    <div id="loading">Loading...</div>
    <input id="hideUntilShow" type="button" value="Restore position" onclick="Interaction.restorePositioning(g)" style="display:none;">
    <div id="graphdiv"></div>
    </td><td valign=top>
    <div id="status" style="width:200px; font-size:0.8em; padding-top:5px;"></div>
    </td>
    </tr></table>
    <div id="fields"></div>
    To interact with this graph:<br>
    * Zoom in: double-click<br/>
    * Zoom out: ctrl-double-click</br>
    * Standard Zoom: shift-click-drag</br/>
    * Standard Pan: click-drag<br/>
    * Restore zoom level: press button<br/>
    <script type="text/javascript">
      function setCheckboxes() {
        var div = document.getElementById("fields");
        for (var idx = 0; idx < fields.length; idx++) {
          var inner = document.createElement("span");
          inner.style.paddingLeft = "3px";
          inner.style.paddingRight = "3px";
          var checkbox = document.createElement("input");
          var label = document.createElement("label");

          checkbox.type="checkbox";
          checkbox.onclick = function(e) { change(e); };
          checkbox.id = idx;
          checkbox.checked = 1;
          label.for=idx;  // label.for is not working.
          label.innerText = fields[idx];

          inner.appendChild(checkbox);
          inner.appendChild(label);
          div.appendChild(inner);
        }
      }

      function change(event) {
        var checkbox = event.currentTarget;
        g.setVisibility(parseInt(checkbox.id), checkbox.checked);
      }

      var drawCallback = function(g, isInitial) {
        if (isInitial) {
          document.getElementById("loading").style.display = "none";
          document.getElementById("hideUntilShow").style.display = "block";
        }
      };

      setCheckboxes();

      // Since this is templatized, the double-dollar-sign is required
      // and converts to a single dollar sign.
      var dataUrl = window.location.href.replace(/\/graph$$/, "/csv")

      g = new Dygraph(
              document.getElementById("graphdiv"),
              dataUrl,
              {
                labelsDiv: document.getElementById('status'),
                labelsSeparateLines: true,
                labelsKMB: true,
                legend: 'always',
                panEdgeFraction: 0.1,
                drawCallback: drawCallback,
                width: 640,
                height: 480,
                xlabel: 'Time',
                axisLineColor: 'white',
                // xValueFormatter: Dygraph.dateString_,
                xValueParser: function(x) { return 1000*parseInt(x); },
                xTicker: Dygraph.dateTicker,
                interactionModel : {
                   'mousedown' : Interaction.down,
                   'mousemove' : Interaction.move,
                   'mouseup' : Interaction.up,
                   'dblclick' : Interaction.dblClick
                 },
// Moves RPM to its own axis. This should be in the web server.
                'rpm': {
                  axis: {}
                },
              axes: {
                x: {
                  axisLabelFormatter: function(d, gran) {
                    return Dygraph.zeropad(d.getHours()) + ":"
                        + Dygraph.zeropad(d.getMinutes()) + ":"
                        + Dygraph.zeropad(d.getSeconds());
                  }
                }

              }
}
          );
    </script>
<hr/>
<a href="https://github.com/kberg/obdgpsexplorer">obdgpsexplorer</a> Copyright (c) 2011, Robert Konigsberg.
</body>
</html>

